:root {
  --blue: #007bff;
  --indigo: #6610f2; 
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #0dba4b;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #ff4136;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}
/* temp  navbar*/
main {
  display: flex;
  flex-grow: 1; /* Ensures the main content grows to fill the available space */
  padding: 0;
}
.containerFluid {
  display: flex;
  /* flex-direction: column; */
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

.sidebarContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1000;
  /* overflow-y: auto; */
}

.homeHeader {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: #fff;
}

.staticHeight {
  height: 100px;
}


/* Default style for the sidebar item  profileContainer */
.sidebarInlineText {
  color: hsl(0, 0%, 20%);
  position: relative;
  text-decoration: none;
}

/* Change color on hover */
.sidebarInlineText:hover {
  color: hsl(124, 84%, 38%);
}

/* Underline effect on hover */
.sidebarInlineText::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust as needed for better positioning */
  width: 100%;
  height: 2px;
  background-color: hsl(124, 84%, 38%);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

/* Hover state for the underline */
.sidebarInlineText:hover::after {
  transform: scaleX(1);
}



/* Define a fixed height for the header */
.homeHeader {
  height: 80px; /* Adjust this value as needed */
  z-index: 10;
}
/* Default styles for larger screens */
.buttonNavbar {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* For screen sizes between 320px and 767px */
@media (min-width: 320px) and (max-width: 767px) {
  .buttonNavbar {
    position: relative;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .faqImg {
    display: none;
  }
}

/* Base styles for larger screens */
.navbar {
  display: flex;
  justify-content: space-between; /* Ensures space between items */
  align-items: center;
}

.navbarBrand {
  display: flex;
  justify-content: center; /* Centers the image horizontally within its container */
}

/* Media query for devices with screen sizes between 320px and 767px */
@media (max-width: 767px) {
  .navbar {
      display: flex;
      justify-content: center; /* Centers all items within the navbar */
      position: relative; /* Allows absolute positioning of child elements */
  }

  .navbarBrand {
      position: absolute; /* Allows centering and vertical alignment */
      left: 50%; /* Centers the image horizontally */
      transform: translateX(-50%); /* Corrects the position to center the image */
  }

  .buttonNavbar {
      position: absolute;
      top: 50%;
      right: 10px; /* Adjust the position of the button as needed */
      transform: translateY(-50%); /* Aligns button vertically */
  }

  .navbarBrand img {
    width: 80px; /* Smaller size for smaller screens, adjust as needed */
}
}


@media (min-width: 320px) and (max-width: 767px) {
  .homeHeader {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    justify-content: space-between; /* Distribute space between elements */
    align-items: center; /* Align items vertically in the center */
    bottom: 100px;
  }
}

/* Adjust the sidebar positioning */
.sidebarContainer {
  position: absolute; /* Ensure it's positioned relative to the header */
  top: 12px; /* This should match the height of the header */
  z-index: 5; /* Ensure it's placed behind the header */
  /* width: 250px; */
  flex-shrink: 0; /* Prevent sidebar from shrinking */
}

.sidebarSticky {
  position: sticky;
  top: 80px; /* Match this to the header height */
}

/* Ensure the body content is not hidden behind the header containerFluid*/
#code-kata-page {
  padding-top: 80px; /* This should match the header's height */
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 0;
  padding: 0; 
}


.gravatar {
  width: 50%; 
  height: auto; 
}
.navLink {
  text-decoration: none; /* Removes underline from links */
}

.sidebarCollapse {
  display: none; /* Hide sidebar when collapsed */
}

.sidebarSticky {
  position: sticky;
  top: 0;
}

.sidebarContainer.open {
  display: block; /* Show sidebar when open */
}

*,
:after,
:before {
  box-sizing: border-box
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent
}


.homeHeader,
.containerFluid,
.navbar {
  display: block;
}

.homeBody {
  margin: 0;
  font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #f6f6f9;
  
  display: flex;
  height: 100vh; /* Full viewport height */
  flex-direction: column;
}

[tabindex="-1"]:focus {
  outline: 0 !important
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: .5rem
}

p {
  margin-top: 0;
  margin-bottom: 1rem
}

/* abbr[data-original-title],
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none
} */

dl,
ol,
ul {
  margin-bottom: 1rem
}

dl,
ol,
ul {
  margin-top: 0
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0
}

dt {
  font-weight: 700
}

dd {
  margin-bottom: .5rem;
  margin-left: 0
}

blockquote {
  margin: 0 0 1rem
}

b,
strong {
  font-weight: bolder
}

small {
  font-size: 80%
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

.aHome {
  color: #95a4c2;
  text-decoration: none;
  background-color: transparent
}

.aHome:hover {
  color: #132241;
  text-decoration: underline
}

.aHome:not([href]):not([tabindex]),
.aHome:not([href]):not([tabindex]):focus,
.aHome:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none
}

.aHome:not([href]):not([tabindex]):focus {
  outline: 0
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto
}

figure {
  margin: 0 0 1rem
}

img {
  border-style: none
}

img,
svg {
  vertical-align: middle
}

svg {
  overflow: hidden
}

table {
  border-collapse: collapse
}

caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom
}

th {
  text-align: inherit
}

label {
  display: inline-block;
  margin-bottom: .5rem
}

button {
  border-radius: 0
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

select {
  word-wrap: normal
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0
}

input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time] {
  -webkit-appearance: listbox
}

textarea {
  overflow: auto;
  resize: vertical
}



[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button
}


[hidden] {
  display: none !important
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2
}

.h1,
h1 {
  font-size: 2.5rem
}

.h2,
h2 {
  font-size: 2rem
}

.h3,
h3 {
  font-size: 1.75rem
}

.h4,
h4 {
  font-size: 1.5rem
}

.h5,
h5 {
  font-size: 1.25rem
}

.h6,
h6 {
  font-size: 1rem
}

.lead {
  font-size: 1.25rem;
  font-weight: 300
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1)
}

.listInline,
.listUnstyled {
  padding-left: 0;
  list-style: none;
}

.listInlineItem {
  display: inline-block;
}

.listInlineItem:not(:last-child) {
  margin-right: .5rem;
}

.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.blockquoteFooter {
  display: block;
  font-size: 80%;
  color: #6c757d;
}

.blockquoteFooter:before {
  content: "\2014\A0";
}

.imgFluid,
.imgThumbnail {
  max-width: 100%;
  height: auto;
}

.imgThumbnail {
  padding: .25rem;
  background-color: #f6f6f9;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
}

.figure {
  display: inline-block;
}

.figureImg {
  margin-bottom: .5rem;
  line-height: 1;
}

.figureCaption {
  font-size: 90%;
  color: #6c757d;
}

.a>code {
  color: inherit;
}
.preScrollable {
  max-height: 340px;
  overflow-y: scroll;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media(min-width:576px) {
  .container {
      max-width: 540px;
  }
}

@media(min-width:768px) {
  .container {
      max-width: 720px;
  }
}

@media(min-width:992px) {
  .container {
      max-width: 960px;
  }
}

@media(min-width:1200px) {
  .container {
      max-width: 1140px;
  }
}

.containerFluid {
  height: 0px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.noGutters {
  margin-right: 0;
  margin-left: 0;
}

.noGutters>.col,
.noGutters>[class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.col,
.col1,
.col10,
.col11,
.col12,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.colAuto,
.colLg,
.colLg1,
.colLg10,
.colLg11,
.colLg12,
.colLg2,
.colLg3,
.colLg4,
.colLg5,
.colLg6,
.colLg7,
.colLg8,
.colLg9,
.colLgAuto,
.colMd,
.colMd1,
.colMd10,
.colMd11,
.colMd12,
.colMd2,
.colMd3,
.colMd4,
.colMd5,
.colMd6,
.colMd7,
.colMd8,
.colMd9,
.colMdAuto,
.colSm,
.colSm1,
.colSm10,
.colSm11,
.colSm12,
.colSm2,
.colSm3,
.colSm4,
.colSm5,
.colSm6,
.colSm7,
.colSm8,
.colSm9,
.colSmAuto,
.colXl,
.colXl1,
.colXl10,
.colXl11,
.colXl12,
.colXl2,
.colXl3,
.colXl4,
.colXl5,
.colXl6,
.colXl7,
.colXl8,
.colXl9,
.colXlAuto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.colAuto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col1,
.colAuto {
  -webkit-box-flex: 0;
}

.col1 {
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col2 {
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col2,
.col3 {
  -webkit-box-flex: 0;
}

.col3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col4 {
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col4,
.col5 {
  -webkit-box-flex: 0;
}

.col5 {
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col6,
.col7 {
  -webkit-box-flex: 0;
}

.col7 {
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col8 {
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col8,
.col9 {
  -webkit-box-flex: 0;
}

.col9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col10 {
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col10,
.col11 {
  -webkit-box-flex: 0;
}

.col11 {
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.orderFirst {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.orderLast {
  -webkit-box-ordinal-group: 14;
  -ms-flex-order: 13;
  order: 13;
}

.order0 {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
}

.order1 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.order2 {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.order3 {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.order4 {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}

.order5 {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
}

.order6 {
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6;
}

.order7 {
  -webkit-box-ordinal-group: 8;
  -ms-flex-order: 7;
  order: 7;
}

.order8 {
  -webkit-box-ordinal-group: 9;
  -ms-flex-order: 8;
  order: 8;
}

.order9 {
  -webkit-box-ordinal-group: 10;
  -ms-flex-order: 9;
  order: 9;
}

.order10 {
  -webkit-box-ordinal-group: 11;
  -ms-flex-order: 10;
  order: 10;
}

.order11 {
  -webkit-box-ordinal-group: 12;
  -ms-flex-order: 11;
  order: 11;
}

.order12 {
  -webkit-box-ordinal-group: 13;
  -ms-flex-order: 12;
  order: 12;
}

.offset1 {
  margin-left: 8.33333%;
}

.offset2 {
  margin-left: 16.66667%;
}

.offset3 {
  margin-left: 25%;
}

.offset4 {
  margin-left: 33.33333%;
}

.offset5 {
  margin-left: 41.66667%;
}

.offset6 {
  margin-left: 50%;
}

.offset7 {
  margin-left: 58.33333%;
}

.offset8 {
  margin-left: 66.66667%;
}

.offset9 {
  margin-left: 75%;
}

.offset10 {
  margin-left: 83.33333%;
}

.offset11 {
  margin-left: 91.66667%;
}

@media(min-width:576px) {
  .colSm {
      -ms-flex-preferred-size: 0;
      flex-basis: 0%;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
  }
  .colSmAuto {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
  }
  .colSm1 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
  }
  .colSm2 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
  }
  .colSm3 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
  }
  .colSm4 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
  }
  .colSm5 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
  }
  .colSm6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
  }
  .colSm7 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
  }
  .colSm8 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
  }
  .colSm9 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
  }
  .colSm10 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input[type=button].btnBlock,
input[type=reset].btnBlock,
input[type=submit].btnBlock {
  width: 100%;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height .35s ease;
}

@media(prefers-reduced-motion:reduce) {
  .collapsing {
      transition: none;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navLink {
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
}

.navLink:focus,
.navLink:hover {
  text-decoration: none;
}

.navLink.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.navTabs {
  border-bottom: 1px solid #dee2e6;
}

.navTabs .navItem {
  margin-bottom: -1px;
}

.navTabs .navLink {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.navTabs .navLink:focus,
.navTabs .navLink:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.navTabs .navLink.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.navTabs .navItemShow .navLink,
.navTabs .navLink.active {
  color: #495057;
  background-color: #f6f6f9;
  border-color: #dee2e6 #dee2e6 #f6f6f9;
  
}

.navTabs .dropdownMenu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navPills .navLink {
  border-radius: .25rem;
}

.navPills .navLink.active,
.navPills .show>.navLink {
  color: #fff;
  background-color: #0dba4b;
}

.navFill .navItem {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}

.navJustified .navItem {
  -ms-flex-preferred-size: 0;
  flex-basis: 0%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}

.tabContent > .tabPane {
  display: none;
}

.tabContent > .active {
  display: block;
}

.navbar {
  position: relative;
  padding: .5rem 1rem;
  z-index: 999;
  outline: 1px solid #C0C0C0; 
  height: 80px;
}

.navbar,
.navbar > .container,
.navbar > .containerFluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbarBrand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbarBrand:focus,
.navbarBrand:hover {
  text-decoration: none;
}

.navbarNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbarNav .navLink {
  padding-right: 0;
  padding-left: 0;
}

.navbarNav .dropdownMenu {
  position: static;
  float: none;
}

.navbarText {
  display: inline-block;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.navbarCollapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Ensure the sidebar toggle button is visible on all screen sizes */
.navbarToggler {
  display: block; /* Make sure the button is visible */
  z-index: 1001;  /* Ensure it's on top of other elements */
}

@media (max-width: 600px) {
  /* .navbarToggler {
    position: static;
    top: 10px;      
    right: 10px;      
  } */
}
.navbarToggler {
  position: fixed;
  top: 10px; /* Adjust according to your layout */
  left: 10px; /* Adjust according to your layout */
  z-index: 1000; /* Make sure it's above other content */
}


.navbarToggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.navbarToggler:focus,
.navbarToggler:hover {
  text-decoration: none;
}

.navbarTogglerIcon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat 50%;
  background-size: 100% 100%;
}

@media (max-width: 575.98px) {
  .navbarExpandSm > .container,
  .navbarExpandSm > .containerFluid {
      padding-right: 0;
      padding-left: 0;
  }
}

@media (min-width: 576px) {
  .navbarExpandSm {
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
  }
  .navbarExpandSm,
  .navbarExpandSm .navbarNav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
  }
  .navbarExpandSm .navbarNav {
      -ms-flex-direction: row;
      flex-direction: row;
  }
  .navbarExpandSm .navbarNav .dropdownMenu {
      position: absolute;
  }
  .navbarExpandSm .navbarNav .navLink {
      padding-right: .5rem;
      padding-left: .5rem;
  }
  .navbarExpandSm > .container,
  .navbarExpandSm > .containerFluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  }
  .navbarExpandSm .navbarCollapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
  }
  .navbarExpandSm .navbarToggler {
      display: none;
  }
}

@media (max-width: 767.98px) {
  .navbarExpandMd > .container,
  .navbarExpandMd > .containerFluid {
      padding-right: 0;
      padding-left: 0;
  }
}

@media (min-width: 768px) {
  .navbarExpandMd {
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
  }
  .navbarExpandMd,
  .navbarExpandMd .navbarNav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
  }
  .navbarExpandMd .navbarNav {
      -ms-flex-direction: row;
      flex-direction: row;
  }
  .navbarExpandMd .navbarNav .dropdownMenu {
      position: absolute;
  }
  .navbarExpandMd .navbarNav .navLink {
      padding-right: .5rem;
      padding-left: .5rem;
  }
  .navbarExpandMd > .container,
  .navbarExpandMd > .containerFluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  }
  .navbarExpandMd .navbarCollapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
  }
  .navbarExpandMd .navbarToggler {
      display: none;
  }
}

@media (max-width: 991.98px) {
  .navbarExpandLg > .container,
  .navbarExpandLg > .containerFluid {
      padding-right: 0;
      padding-left: 0;
  }
}

@media (min-width: 992px) {
  .navbarExpandLg {
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
  }
  .navbarExpandLg,
  .navbarExpandLg .navbarNav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
  }
  .navbarExpandLg .navbarNav {
      -ms-flex-direction: row;
      flex-direction: row;
  }
  .navbarExpandLg .navbarNav .dropdownMenu {
      position: absolute;
  }
  .navbarExpandLg .navbarNav .navLink {
      padding-right: .5rem;
      padding-left: .5rem;
  }
  .navbarExpandLg > .container,
  .navbarExpandLg > .containerFluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  }
  .navbarExpandLg .navbarCollapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
  }
  .navbarExpandLg .navbarToggler {
      display: none;
  }
}

@media(max-width:1199.98px) {
  .navbarExpandXl>.container,
  .navbarExpandXl>.containerFluid {
      padding-right: 0;
      padding-left: 0;
  }
}

@media(min-width:1200px) {
  .navbarExpandXl {
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
  }
  .navbarExpandXl,
  .navbarExpandXl .navbarNav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
  }
  .navbarExpandXl .navbarNav {
      -ms-flex-direction: row;
      flex-direction: row;
  }
  .navbarExpandXl .navbarNav .dropdownMenu {
      position: absolute;
  }
  .navbarExpandXl .navbarNav .navLink {
      padding-right: .5rem;
      padding-left: .5rem;
  }
  .navbarExpandXl>.container,
  .navbarExpandXl>.containerFluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  }
  .navbarExpandXl .navbarCollapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
  }
  .navbarExpandXl .navbarToggler {
      display: none;
  }
}

.navbarExpand {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.navbarExpand>.container,
.navbarExpand>.containerFluid {
  padding-right: 0;
  padding-left: 0;
}

.navbarExpand .navbarNav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.navbarExpand .navbarNav .dropdownMenu {
  position: absolute;
}

.navbarExpand .navbarNav .navLink {
  padding-right: .5rem;
  padding-left: .5rem;
}

.navbarExpand>.container,
.navbarExpand>.containerFluid {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.navbarExpand .navbarCollapse {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.navbarExpand .navbarToggler {
  display: none;
}

.navbarLight .navbarBrand,
.navbarLight .navbarBrand:focus,
.navbarLight .navbarBrand:hover {
  color: rgba(0, 0, 0, .9);
}

.navbarLight .navbarNav .navLink {
  color: rgba(0, 0, 0, .5);
}

.navbarLight .navbarNav .navLink:focus,
.navbarLight .navbarNav .navLink:hover {
  color: rgba(0, 0, 0, .7);
}

.navbarLight .navbarNav .navLink.disabled {
  color: rgba(0, 0, 0, .3);
}

.navbarLight .navbarNav .active>.navLink,
.navbarLight .navbarNav .navLink.active,
.navbarLight .navbarNav .navLink.show,
.navbarLight .navbarNav .show>.navLink {
  color: rgba(0, 0, 0, .9);
}

.navbarLight .navbarToggler {
  color: rgba(0, 0, 0, .5);
  border-color: rgba(0, 0, 0, .1);
}

.navbarLight .navbarTogglerIcon {
  background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2aWV3Qm94PScwIDAgMzAgMzAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggc3Ryb2tlPSdyZ2JhKDAsIDAsIDAsIDAuNSknIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbWl0ZXJsaW1pdD0nMTAnIGQ9J000IDdoMjJNNCAxNWgyMk00IDIzaDIyJy8+PC9zdmc+);
}

.navbarLight .navbarText {
  color: rgba(0, 0, 0, .5);
}

.navbarLight .navbarText a,
.navbarLight .navbarText a:focus,
.navbarLight .navbarText a:hover {
  color: rgba(0, 0, 0, .9);
}

.navbarDark .navbarBrand,
.navbarDark .navbarBrand:focus,
.navbarDark .navbarBrand:hover {
  color: #fff;
}

.navbarDark .navbarNav .navLink {
  color: hsla(0, 0%, 100%, .5);
}

.navbarDark .navbarNav .navLink:focus,
.navbarDark .navbarNav .navLink:hover {
  color: hsla(0, 0%, 100%, .75);
}

.navbarDark .navbarNav .navLink.disabled {
  color: hsla(0, 0%, 100%, .25);
}

.navbarDark .navbarNav .active>.navLink,
.navbarDark .navbarNav .navLink.active,
.navbarDark .navbarNav .navLink.show,
.navbarDark .navbarNav .show>.navLink {
  color: #fff;
}

.navbarDark .navbarToggler {
  color: hsla(0, 0%, 100%, .5);
  border-color: hsla(0, 0%, 100%, .1);
}

.navbarDark .navbarTogglerIcon {
  background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2aWV3Qm94PScwIDAgMzAgMzAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggc3Ryb2tlPSdyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuNSknIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbWl0ZXJsaW1pdD0nMTAnIGQ9J000IDdoMjJNNCAxNWgyMk00IDIzaDIyJy8+PC9zdmc+);
}

.navbarDark .navbarText {
  color: hsla(0, 0%, 100%, .5);
}

.navbarDark .navbarText a,
.navbarDark .navbarText a:focus,
.navbarDark .navbarText a:hover {
  color: #fff;
}
/* Nav end [gravatar] ---------------------------- */

.fontWeightLight {
  font-weight: 300 !important;
}

.fontWeightLighter {
  font-weight: lighter !important;
}

.fontWeightNormal {
  font-weight: 400 !important;
}

.fontWeightBold {
  font-weight: 700 !important;
}

.fontWeightBolder {
  font-weight: bolder !important;
}

.fontItalic {
  font-style: italic !important;
}

.textWhite {
  color: #fff !important;
}

.textPrimary {
  color: #0dba4b !important;
}

a.textPrimary:focus,
a.textPrimary:hover {
  color: #06974f !important;
}

.textSecondary {
  color: #6c757d !important;
}

a.textSecondary:focus,
a.textSecondary:hover {
  color: #494f54 !important;
}

.textSuccess {
  color: #28a745 !important;
}

a.textSuccess:focus,
a.textSuccess:hover {
  color: #19692c !important;
}

.textInfo {
  color: #17a2b8 !important;
}

a.textInfo:focus,
a.textInfo:hover {
  color: #0f6674 !important;
}

.textWarning {
  color: #ffc107 !important;
}

a.textWarning:focus,
a.textWarning:hover {
  color: #ba8b00 !important;
}

.textDanger {
  color: #ff4136 !important;
}

a.textDanger:focus,
a.textDanger:hover {
  color: #e90d00 !important;
}

.textLight {
  color: #f8f9fa !important;
}

a.textLight:focus,
a.textLight:hover {
  color: #cbd3da !important;
}

.textDark {
  color: #343a40 !important;
}

a.textDark:focus,
a.textDark:hover {
  color: #121416 !important;
}

.textBody {
  color: #212529 !important;
}

.textMuted {
  color: #6c757d !important;
}

.textBlack50 {
  color: rgba(0, 0, 0, .5) !important;
}

.textWhite50 {
  color: hsla(0, 0%, 100%, .5) !important;
}

.textHide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.textDecorationNone {
  text-decoration: none !important;
}

.textBreak {
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}

.textReset {
  color: inherit !important;
}

.iconCkQuestions,
.iconCkGithub {
  background: url(../images/minified/sprite-icon-4.png);
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999px;
}


.borderSidebar {
  border-top: 1px solid #e3e3e3;
  width: 90%;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.iconsCourses {
  background-position: 0 -4px;
}

.iconsCodeKata {
  background-position: 0 -46px;
}

.iconsWebkata {
  background-position: 0 -94px;
}

.iconsIde {
  background-position: 0 -142px;
}

.iconsDebugging {
  background-position: 0 -188px;
}

.iconsLeaderboard {
  background-position: 0 -245px;
}

.iconsRewards {
  background-position: 0 -293px;
}

.iconsReferral {
  background-position: 0 69px;
}

.iconsForum {
  background-position: 0 22px;
  margin-left: .2rem;
}

.h1,
h1 {
  font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  font-size: 2.75rem;
}

.h1,
.h2,
h1,
h2 {
  font-weight: 700;
  margin-bottom: 1rem;
}

.h2,
h2 {
  font-size: 1.2rem;
  color: #4c5a74;
}

.h5,
h5 {
  font-size: 1.1rem;
  font-weight: 700;
}

.contentSearchForm label {
  display: none;
}

.contentSearchForm input {
  padding-right: 3rem;
}

.contentSearchForm .formRounded {
  border-radius: 18px;
}

.contentSearchForm .searchBtn {
  position: absolute;
  right: 3px;
  top: 0;
}

.contentSearchForm {
  position: relative;
  padding-bottom: 1rem;
}

@media(min-width:768px) {
  .topSearchForm input {
      max-width: 400px;
  }
}

@media(min-width:768px) {
  .contentSearchForm {
      max-width: 400px;
  }
}

.badge .close {
  padding-right: .8rem;
  padding-left: .8rem;
  margin-right: -.8rem;
  font-size: inherit;
  color: inherit;
  text-shadow: none
}

.sidebarContainer {
  position: fixed;
  z-index: 999; /* Ensure this is higher than other elements */
}

.sidebarContainer .sidebarSticky {
  position: absolute;
  top: 68px;
  left: 0;
  height: 100vh;
  min-width: 44px;
  background-color: #fff;
  white-space: nowrap;
  transition-duration: 0.5s;
  overflow: hidden;
  z-index: 1000; /* Make sure sidebar has a higher z-index */
}

.sidebarContainer .sidebarSticky.collapse {
  display: none;
}

.sidebarContainer .sidebarSticky.collapse.show {
  display: block;
}

.sidebarContainer .sidebarSticky .navbarBrand {
  display: none;
}

.sidebarContainer .sidebarSticky .navItem {
  border-left: 4px solid #fff;
}

.sidebarContainer .sidebarSticky .navItem.active {
  border-left-color: #099f4e;
}

.sidebarContainer .sidebarSticky .navItem.active span {
  color: #099f4e;
  font-weight: 600;
}

.sidebarContainer .sidebarSticky .navItem.active i {
  background-position-x: -160px;
}

.sidebarContainer .sidebarSticky .ckItem.active i {
  background-position-x: -38px;
}

.sidebarContainer .sidebarSticky .ckItem .ckLink i:hover {
  background-position-x: -38px;
}

.sidebarContainer .sidebarSticky .navItem:last-of-type {
  margin-bottom: 5rem;
}

.sidebarContainer .sidebarSticky .navLink {
  padding: 1rem 1rem 1rem 1.5rem !important;
  color: #707070 !important;
}

.sidebarContainer .sidebarSticky .navLink .materialIcons {
  vertical-align: middle;
  font-size: 1.25rem;
}

.sidebarContainer .sidebarSticky .navLink span {
  padding-left: 1.5rem;
  font-weight: 400;
}

.codeKataInnerPage .sidebarContainer .mainMenu,
.sidebarContainer .codeKataMenu {
  display: none;
}

.codeKataInnerPage .sidebarContainer .codeKataMenu {
  display: block;
}

@media (min-width: 768px) {
  .sidebarContainer .sidebarSticky.collapse,
  .sidebarContainer .sidebarSticky.collapse:not(.show) {
    display: block;
  }

  .sidebarContainer .sidebarSticky.sidebarCollapse {
    width: 5rem;
  }

  .sidebarContainer .sidebarSticky.sidebarCollapse .navLink span {
    position: absolute;
    transform: translateX(-200%);
    opacity: 0;
    transition-duration: 0.3s;
  }
}

header {
  min-height: 60px;
}

@media (min-width: 768px) {
  .userProfile {
    margin-left: auto;
  }

  .collapsing {
    transition: none;
  }

  #mainNavDefault {
    position: absolute;
    top: -42px;
    left: 111px;
    border-bottom: 0;
    visibility: visible;
    z-index: 1000; /* Ensure z-index is high enough */
  }

  #mainNavDefault p.experience i,
  #mainNavDefault p.gem i,
  #mainNavDefault p.rankMainBoard i {
    display: inline;
    padding: 12px;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }

  #mainNavDefault p.level strong {
    display: inline;
    padding-right: 0.5rem;
  }

  #mainNavDefault p span {
    display: inline;
    padding-left: 1rem;
  }

  .notificationBoxToggler {
    display: block;
    padding-bottom: 0;
    padding-top: 0.3rem;
    z-index: 1000; /* Ensure z-index is high enough */
  }

  .notificationBoxToggler.hasNotification:after {
    content: "";
    position: absolute;
    top: 6px;
    right: 12px;
    width: 10px;
    height: 10px;
    background-color: #2ae88a;
    border: 1px solid #fff;
    border-radius: 10px;
  }

  .notificationBoxToggler i {
    color: #132241;
  }
}

.bodyContainer {
  padding: 2rem 1rem 4rem;
}

.staticHeight {
  height: 4rem;
}

.loginBtn {
  margin-right: 1rem;
}

.guviNavheadFixed {
  position: fixed;
  z-index: 999 !important;
  background: #fff;
}

@media (max-width: 640px) {
  .navbarNav {
    flex-direction: row;
  }

  .navbarNav .navLink {
    min-width: auto !important;
  }

  .signupBtn {
    padding: 5px 8px !important;
  }

  .loginBtn {
    margin-right: 14px;
  }
}

@media (max-width: 768px) {
  #mainNavDefault {
    display: none !important;
  }
}


/* ------------------------------------------- MY OWN --------------------------------------------------*/ 

.popup {
  --burger-line-width: 1.125em;
  --burger-line-height: 0.125em;
  --burger-offset: 0.625em;
  --burger-bg: rgba(0, 0, 0, .15);
  --burger-color: #333;
  --burger-line-border-radius: 0.1875em;
  --burger-diameter: 2.125em;
  --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
  --burger-line-transition: .3s;
  --burger-transition: all .1s ease-in-out;
  --burger-hover-scale: 1.1;
  --burger-active-scale: .95;
  --burger-enable-outline-color: var(--burger-bg);
  --burger-enable-outline-width: 0.125em;
  --burger-enable-outline-offset: var(--burger-enable-outline-width);
  /* nav */
  --nav-padding-x: 0.25em;
  --nav-padding-y: 0.625em;
  --nav-border-radius: 0.375em;
  --nav-border-color: #ccc;
  --nav-border-width: 0.0625em;
  --nav-shadow-color: rgba(0, 0, 0, .2);
  --nav-shadow-width: 0 1px 5px;
  --nav-bg: #eee;
  --nav-font-family: Menlo, Roboto Mono, monospace;
  --nav-default-scale: .8;
  --nav-active-scale: 1;
  --nav-position-left: 0;
  --nav-position-right: unset;
  /* if you want to change sides just switch one property */
  /* from properties to "unset" and the other to 0 */
  /* title */
  --nav-title-size: 0.625em;
  --nav-title-color: #777;
  --nav-title-padding-x: 1rem;
  --nav-title-padding-y: 0.25em;
  /* nav button */
  --nav-button-padding-x: 1rem;
  --nav-button-padding-y: 0.375em;
  --nav-button-border-radius: 0.375em;
  --nav-button-font-size: 12px;
  --nav-button-hover-bg: #a6a8ac;
  --nav-button-hover-text-color: #fff;
  --nav-button-distance: 0.875em;
  /* underline */
  --underline-border-width: 0.0625em;
  --underline-border-color: #ccc;
  --underline-margin-y: 0.3125em;
}

/* popup settings 👆 */

.popup {
  display: inline-block;
  text-rendering: optimizeLegibility;
  position: relative;
}

.popup input {
  display: none;
}

.burger {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: var(--burger-bg);
  width: var(--burger-diameter);
  height: var(--burger-diameter);
  border-radius: var(--burger-btn-border-radius);
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: var(--burger-transition);
  outline: var(--burger-enable-outline-width) solid transparent;
  outline-offset: 0;
}

.burger span {
  height: var(--burger-line-height);
  width: var(--burger-line-width);
  background: var(--burger-color);
  border-radius: var(--burger-line-border-radius);
  position: absolute;
  transition: var(--burger-line-transition);
}

.burger span:nth-child(1) {
  top: var(--burger-offset);
}

.burger span:nth-child(2) {
  bottom: var(--burger-offset);
}

.burger span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%);
}

.popupWindow {
  transform: scale(var(--nav-default-scale));
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: var(--nav-padding-y) var(--nav-padding-x);
  background: var(--nav-bg);
  font-family: var(--nav-font-family);
  color: var(--nav-text-color);
  border-radius: var(--nav-border-radius);
  box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
  border: var(--nav-border-width) solid var(--nav-border-color);
  top: calc(var(--burger-diameter) + var(--burger-enable-outline-width) + var(--burger-enable-outline-offset));
  left: auto; /* Set left to auto */
  right: 0; /* Align the right side with the burger */
  transition: var(--burger-transition);
}

.popupWindow legend {
  padding: var(--nav-title-padding-y) var(--nav-title-padding-x);
  margin: 0;
  color: var(--nav-title-color);
  font-size: var(--nav-title-size);
  text-transform: uppercase;
}

.popupWindow ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popupWindow ul .popupBtn {
  outline: none;
  width: 100%;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  color: var(--burger-color);
  font-size: var(--nav-button-font-size);
  padding: var(--nav-button-padding-y) var(--nav-button-padding-x);
  white-space: nowrap;
  border-radius: var(--nav-button-border-radius);
  cursor: pointer;
  column-gap: var(--nav-button-distance);
}

.popupWindow ul li:nth-child(1) svg,
.popupWindow ul li:nth-child(2) svg {
  color: cornflowerblue;
}

.popupWindow ul li:nth-child(3) svg {
  color: red;
}

.popupWindow ul li:nth-child(4) svg,
.popupWindow ul li:nth-child(5) svg {
  color: rgb(153, 153, 153);
}

.popupWindow ul li:nth-child(7) svg {
  color: red;
}

.popupWindow hr {
  margin: var(--underline-margin-y) 0;
  border: none;
  border-bottom: var(--underline-border-width) solid var(--underline-border-color);
}

/* actions */

.popupWindow ul button:hover,
.popupWindow ul button:focus-visible,
.popupWindow ul button:hover svg,
.popupWindow ul button:focus-visible svg {
  color: var(--nav-button-hover-text-color);
  background: var(--nav-button-hover-bg);
}

.burger:hover {
  transform: scale(var(--burger-hover-scale));
}

.burger:active {
  transform: scale(var(--burger-active-scale));
}

.burger:focus:not(:hover) {
  outline-color: var(--burger-enable-outline-color);
  outline-offset: var(--burger-enable-outline-offset);
}

.popup input:checked+.burger span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.popup input:checked+.burger span:nth-child(2) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.popup input:checked+.burger span:nth-child(3) {
  transform: translateX(calc(var(--burger-diameter) * -1 - var(--burger-line-width)));
}

.popup input:checked~nav {
  transform: scale(var(--nav-active-scale));
  visibility: visible;
  opacity: 1;
}
/* End */






































