@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

.bodyClass {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4070f4;
  padding: 20px;
}
 
.container, .verifyForm, .input-field, .verifyHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background: #fff;
  padding: 30px 65px;
  border-radius: 12px;
  row-gap: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.container header {
  height: 65px;
  width: 65px;
  background: #4070f4;
  color: #fff;
  font-size: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container h4 {
  font-size: 1.25rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

form .inputField {
  flex-direction: row;
  column-gap: 10px;
}

.inputField input {
  height: 45px;
  width: 42px;
  border-radius: 6px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}

.inputField input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.inputField input::-webkit-inner-spin-button,
.inputField input::-webkit-outer-spin-button {
  display: none;
}

.verifyForm .verifybtn {
  margin-top: 25px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding: 9px 0;
  cursor:pointer;
  border-radius: 6px;
  background: #6e93f7;
  transition: all 0.2s ease;
}

.verifyForm .verifybtn.active {
  background: #4070f4;
  pointer-events: auto;
}

.verifyForm .verifybtn :hover {
  background: #0e4bf1;
}

@media (max-width: 1440px) {
  .container {
    padding: 25px 50px;
  }

  .inputField input {
    height: 40px;
    width: 35px;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px 40px;
  }

  .inputField input {
    height: 40px;
    width: 35px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 15px 20px;
  }

  .inputField input {
    height: 35px;
    width: 30px;
    font-size: 0.875rem;
  }

  .verifyForm .verifybtn  {
    padding: 7px 0;
    font-size: 0.875rem;
  }
}
