@import url('https://fonts.googleapis.com/css2?family=Anton&family=Autour+One&family=Kanit:ital,wght@0,300;1,400&family=Noto+Sans+TC&family=Oswald:wght@500&family=Young+Serif&display=swap');
 h2 {
  /* margin-left:570px; */
  background: rgb(2,0,36);
  background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(72,72,159,1) 22%, rgba(8,8,112,1) 28%, rgba(58,121,9,1) 38%, rgba(9,81,130,1) 42%, rgba(70,138,8,1) 46%, rgba(7,58,153,1) 53%, rgba(2,169,227,1) 62%, rgba(5,107,186,1) 70%, rgba(199,75,4,1) 74%, rgba(3,143,210,1) 79%, rgba(66,238,1,1) 92%, rgba(6,87,173,1) 94%, rgba(0,212,255,1) 100%);
} 
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    height:290px;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    margin-left: 290px;
    margin-top: 30px;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
  }
  
  .login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box button:hover {
    background: #03f40f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f40f,
                0 0 25px #03f40f,
                0 0 50px #03f40f,
                0 0 100px #03f40f;
  }
  
  .login-box button span {
    position: absolute;
    display: block;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box button span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03f40f);
    animation: btn-anim1 2s linear infinite;
  }

  .btn-own{
    background-color: #03f40f;
    border-radius: 20px;
  }


.img-own {
  /* aspect-ratio: 2/4; */
    width: 50%; 
    height: auto; 
    margin-right: 500px;
}

.img-blue {
  line-height: 100%;
  width: 65%;
}