/* PasswordReset.css */

 /* .forgot-password-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  

  .forgot-password-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }  */
  

body {
  background: linear-gradient(to bottom, #cce6ff, #f5f5dc);
}

label {
  color: white;
}
  .card {
    width: 390px;
    height: 300px;
    padding: 1.9rem 1.2rem;
    text-align: center;
    background: #2a2b38;
    border-radius: 20%;
    box-shadow: 5px 5px 10px rgba(91, 48, 48, 0.868);
   }
   
   /*Inputs*/
   .field {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    background-color: #1f2029;
    border-radius: 4px;
    padding: .5em 1em;
    /* margin-top: 80px; */
   }
   
   .input-icon {
    height: 1em;
    width: 1em;
    fill: #ffeba7;
   }
   
   .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
   }
   
   /*Text*/
   .title {
    margin-bottom: 1rem;
    font-size: 1.5em;
    font-weight: 500;
    color: #f5f5f5;
   }
   
   /*Buttons*/
   .btn {
    margin: 1rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    padding: 0.6em 1.2em;
    background-color: #ffeba7;
    color: #5e6681;
    box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
    transition: all .3s ease-in-out;
    padding: 10px;
   }
   
   .btn-link {
    color: #f5f5f5;
    display: block;
    font-size: .75em;
    transition: color .3s ease-out;
   }
   
   /*Hover & focus*/
   .field input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }
   
   .btn:hover {
    background-color: #5e6681;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
   }
   
   .btn-link:hover {
    color: #ffeba7;
   }
   