.questionImageContainerOutlineContainer {
    height: 0;
    display: grid;
    row-gap: 30px;
    justify-items: center;
    align-items:center;
}


.questionImageContainer {
  height: 0;
  display: grid;
  grid-template-columns: repeat(5, auto); /* 5 columns */
  justify-items: center;
  align-items: center;
  gap: 10px; /* optional spacing */
}

.gbiQuesionImage {
  height: 160px;
  width: 160px;
}

/*----------------------------------------------- Timer--------------------------------------- */
  .timerContainer {
    display: grid;
      grid-template-columns: repeat(1, auto); /* 5 columns */
      justify-items: center;
    }

.outerTimerBox {
  width: 40px;
  border: 2px solid #30cfd0;
  padding: 5px;
  height: fit-content;
  border-radius: 6px;
  width: fit-content;
  background-color: rgba(48, 207, 208, 0.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

 .parentTimerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  grid-template-rows: 1fr ; /* Two columns */
  width: fit-content;
  gap: 15px;
 }

 .digitTimer {
  align-content: center;
 }

.loader {
  width: 65px;
  height: 65px;
  border: 8px solid #ee9b00a6;
  border-radius: 50px;
  position: relative;
 }

 .loader .span {
  display: block;
  background: #ee9b00;
 }

 .loader .hour ,
 .loader .min {
  width: 6px;
  height: 22px;
  border-radius: 50px;
  position: absolute;
  top: 24.5px;
  left: 21px;
  animation: load9243 1.2s linear infinite;
  transform-origin: top center;
 }

 .loader .min {
  height: 17px;
  animation: load9243 4s linear infinite;
 }

 .loader .circel {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  position: absolute;
  top: 19px;
  left: 19px;
 }

 @keyframes load9243 {
  0% {
   transform: rotate(0deg);
  }

  100% {
   transform: rotate(360deg);
  }
 }
/*  */
.textQuestionContainerGBI {
  display: flex;
}
.textBox {
  word-break: break-word;  /* Break long words */
  white-space: normal;     /* Allow wrapping */
  width: 100%;             /* Or set a fixed/max width */
}

 /* ------------------------------------ Progress ----------------------------------------------*/
.progAndTimerContainer {
  display: flex;
  justify-content:space-evenly ;
  align-content:space-evenly ;
  margin-top: 0px; /* Push down equal to navbar's height */

}

.progressContainer {
  top: 0;
  right: 0;
  position: relative;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressCircle {
  transform: rotate(-90deg);
}

.progressBackground {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 10;
}

.progressBar {
  fill: none;
  stroke: #4caf50; /* Customize the progress color */
  stroke-width: 10;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(0.25turn);
  transform-origin: center;
}

.progressText {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
/* ----------------------------------------------- Input-------------------------------------------- */
.gbiAnswerInputContainer {
  grid-column: 1 / -1; /* This makes it span all 5 columns */
}
.gbiAnswerInput {
  max-width: 190px;
  width: 40px;
  height: 40px;
  outline: none;
  margin: 5px;
  transition: .5s;
  border: none;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
}
.spaceGBI {
  padding: 15px;
}


/* Buttons */
.circleBtn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.circleBtn:hover {
  background-color: #e0e0e0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.arrow {
  width: 20px;
  height: 20px;
  color: #333;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

/* submit button */
.submitBtnGBI {
  padding: 17px 40px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(255, 56, 86);
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.3s ease;
  box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.submitBtnGBI:hover {
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}

.submitBtnGBI:active {
  background-color: rgb(255, 56, 86);
  /*50, 168, 80*/
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}


/* -------------------------------- RESULT CARD ---------------------------------------------- */
  .centeredContainer {
  position: fixed;         /* floats above all */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 9999;          
  /* background-color: white; */
  padding: 2rem;
  /* border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2); */
  width: 70%;
  max-width: 400px;
  height:  49%;
    max-height: 600px;
}

.resultCardGBI {
  overflow: hidden;
  position: relative;
  text-align: left;
  border-radius: 0.5rem;
  width: 290px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;

    position: fixed;         /* floats above all */
  z-index: 9999;           /* stay on top */
}

.dismissGBI {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: black;
  border: 2px solid #D1D5DB;
  font-size: 1rem;
  font-weight: 300;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  transition: .3s ease;
}

.dismissGBI:hover {
  background-color: #ee0d0d;
  border: 2px solid #ee0d0d;
  color: #fff;
}

.headerGBI {
  padding: 1.25rem 1rem 1rem 1rem;
}

.resultCardImageGBI {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #e2feee;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  animation: animate .6s linear alternate-reverse infinite;
  transition: .6s ease;
}

.resultCardImageGBI svg {
  color: #0afa2a;
  width: 2rem;
  height: 2rem;
}

.resultCardContentGBI {
  margin-top: 0.75rem;
  text-align: center;
}

.resultCardTitleGBI {
  color: #066e29;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.resultCardMessageGBI {
  margin-top: 0.5rem;
  color: #595b5f;
  /* font-size: 0.875rem;
  line-height: 1.25rem; */
}

.resultCardActionsGBI {
  margin: 0.75rem 1rem;
}

.okresultCardGBI {
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: #1aa06d;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

@keyframes animate {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.09);
  }
}


/*----------------------------------------- Blur Efftect--------------------------------------------- */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px); 
  -webkit-backdrop-filter: blur(15px); 
  z-index: 1000;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
  border-radius: 16px; 
}

.overlayContent {
  background: rgba(0, 0, 0, 0.957);
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  max-width: 1000px;
  height: max-content;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

/*----------------------------------------- Carousel Button ---------------------------------------*/
.carouselBtnContainer {
  display: flex;
  gap: 1px;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  justify-content: center;
}

.startBtn {
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  background-color: #006aff;
  border: 8px solid #c0dfff;
  color: white;
  gap: 8px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
  height: 4.5em;
  margin-top: 0.5em;

}
.startText {
  font-size: 1.1em;
  font-weight: 400;
  letter-spacing: 1px;
}
.startSvg {
  padding-top: 5px;
  height: 100%;
  width: fit-content;
}
.startSvg .startSvg {
  width: 50px;
  height: 30px;
}
.startBtn:hover {
  border: 8px solid #b1d8ff;
  background-color: #1b7aff;
}
.startBtn:active {
  border: 5px solid #c0dfff;
}
.startBtn:hover .startSvg .startSvg {
  animation: jello-vertical 0.9s both;
  transform-origin: left;
}

.backBtn {
  margin-top: 1.2em;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #c78407;
 }
 
 .backBtn > .backSvg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
 }
 
 .backBtn:hover > .backSvg {
  font-size: 1.2em;
  transform: translateX(-5px);
 }
 
 .backBtn:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
 }
 
@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}