
.cardContainerQuiz {
  width: 100%;
  margin: 10px;
}

.quizImg {
  width: 100px; 
  height: auto; 
  max-width: 200px; 
  object-fit: cover; 
  margin-left: 10px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-left: auto; /* Ensure content stays within main content area */
  margin-right: auto;
  position: relative;
}

.div1, .div2, .div3 {
  display: flex;
  justify-content: center;
}

.imageContainer {
  background-color: rgb(31, 32, 39);
  border-radius: 0%;
}

.card {
  width: 100%;
  border-radius: 10%;
  margin: 10px;
}

/* Media query for devices with width up to 425px */
@media (max-width: 425px) {
  .parent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cardContainerQuiz {
    width: 100%; /* Full width for small screens */
    margin: 10px 0; /* Some margin for spacing */
  }

  .card {
    width: 100%; /* Ensure card takes up full width */
    margin: 10px 0;
  }
}

@media (min-width: 768px) {
  .parentcardContainer {
    margin-left: 70px;
  }
}


/* searchContainer */

.InputContainer {
  height: 40px;
  display: flex;
  align-items: center;
  width: 20%;
  margin-left: 400px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  padding-left: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
  width: 170px;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  caret-color: rgb(255, 81, 0);
}

.labelforsearch {
  cursor: text;
  padding: 0px 12px;
}

.searchIcon {
  width: 13px;
}

.border {
  height: 40%;
  width: 1.3px;
  background-color: rgb(223, 223, 223);
}

.micIcon {
  width: 12px;
}

.micButton {
  padding: 0px 15px 0px 12px;
  border: none;
  background-color: transparent;
  height: 40px;
  cursor: pointer;
  transition-duration: .3s;
}

.searchIcon path {
  fill: rgb(114, 114, 114);
}

.micIcon path {
  fill: rgb(255, 81, 0);
}

.micButton:hover {
  background-color: rgb(255, 230, 230);
  transition-duration: .3s;
}